/*begin global styling*/
* {
  box-sizing: border-box;
  margin: 0;
}

html, body{
  height: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1{ 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3{ 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
/*end global styling*/
.hide{
  display: none;
}

.main-wrapper{
  width: 100%;
}

.header{
  width: 100%;
  height: 50px;
  background-color: #000000;
}

.header-wrap{
  position: relative;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  /*border: 1px solid red;*/
}

.logo{
  position: absolute;
  float: left;
  width: 102px;
}

.logo-write{
  color: #d21f1f;
  font-size: 35px;
  margin-left: 120px;
  padding-top: 67px;
}

.slide-wrapper{
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.slides{
  position: relative;
  margin-top: 100px;
  max-width: 750px;
  /*border: 1px solid red;*/
  display: none;
  z-index: 99;
}

.image-link{
  position: relative;
  font-size: 0;
}

.index-images{
  border: 1px solid #000000;
  border-right: 25px solid #000000;
  border-left: 25px solid #d21f1f;
  border-bottom: none;
  width: 100%;
}

.move-btns{
  color: #ffffff;
  font-size: 45px;
  cursor: pointer;
}

.move-btn-left{
  position: absolute;
  padding: 25px 25px 25px 0;
  top: 30%;
  left: 0;
  z-index: 100;
}

.move-btn-right{
  position: absolute;
  padding: 25px 0 25px 25px;
  top: 30%;
  right: 0;
  z-index: 100;
}

.show-comment-form{
  float: left;
  position: relative;
  top: -3px;
  width: 49%;
  font-size: 18px;
  padding: 3px;
  color: #ffffff;
  background-color: #d21f1f;
  border: 1px solid #d21f1f;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 2px solid #d21f1f;
  margin-bottom: 25px;
  text-align: center;
  cursor: pointer; 
}

.show-comments{
  float: right;
  position: relative;
  width: 49%;
  font-size: 18px;
  padding: 3px;
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 2px solid #000000;
  margin-bottom: 25px;
  text-align: center;
  cursor: pointer; 
}

.comment-pos-before{
  top: -3px;
}

.comment-pos-after{
  top: 2px;
}

.input-container{
  position: relative;
  margin-top: 30px;
  /*background-color: #D9DBDB;*/
  border: 1px solid #000000;
  padding: 25px;
}

.titleinput{
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin-top: 3px;
  border: 1px solid #000000;
}

.bodyinput{
  width: 100%;
  font-size: 18px;
  padding: 5px;
  margin-top: 6px;
  border: 1px solid #000000;
}

.partyinput{
  width: 49%;
  font-size: 18px;
  padding: 3px;
  margin-top: 3px;
  border: 1px solid #000000;
}

.savenote{
  float: right;
  width: 49%;
  font-size: 18px;
  padding: 6.5px;
  margin-top: 3px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.info-title{
  margin-top: 0;
  margin-bottom: 0;
}

.comment-container{
  position: relative;
  max-width: 750px;
  margin-top: 30px;
  /*top: 3px;*/
  /*background-color: #D9DBDB;*/
  border: 1px solid #000000;
  padding: 0 25px 25px 25px;
}

.comment-wrap{
  margin-top: 25px;
  border: 1px solid #000000;
}

.extra-margin{
  margin-top: 223px; 
}

.comp-foot-wrap{
  position: relative;
  margin-top: 100px;
  min-height: 200px;
}

.footer-aux{
  position: absolute;
  bottom: 150px;
  /*min-width: 200px;*/
  height: 50px;
  /*padding: 0px 25px 0px 25px;*/
  padding-left: 10%;
  padding-right: 25px;
  background-color: #d21f1f;
}

.foot-top-wrap{
  position: relative;
  width: 80%;
  /*height: 50px;*/
  margin: 0 auto;
  padding: 13px 0px 0px 0px;
}

.footer-top{
  position: absolute;
  bottom: 100px;
  width: 100%;
  /*width: calc(100% - 225px);*/
  min-height: 50px;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.foot-bottom-wrap{
  position: relative;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  padding: 13px 0px 0px 0px;
}

.footer-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  /*width: calc(100% - 225px);*/
  height: 100px;
  background-color: #000000;
}